name: Node CI (PR)
on:
  pull_request:
    paths:
      - "src/**"
      - "test/**"
      - "action.yml"
      - "tsconfig.json"
      - "package.json"
      - "pnpm-lock.yaml"
      - ".github/workflows/**"

env:
  PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: 1
  PUPPETEER_EXECUTABLE_PATH: /usr/bin/google-chrome

jobs:
  lint:
    name: Check linting issues
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v3
        with:
          node-version-file: ".nvmrc"
          cache: pnpm
      - run: pnpm i
      - run: pnpm lint
      - run: pnpm build --noEmit
